version: "3.7"

services:
  grafana:
     image: bankainojutsu/grafana-multiarch:latest
     depends_on:
       - prometheus
     ports:
       - "3001:3000"
     networks:
       - traefik_proxy
     environment:
       GF_PATHS_DATA: /var/lib/grafana
       GF_PATHS_LOGS: /var/log/grafana
       GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
       GF_INSTALL_PLUGINS: grafana-piechart-panel
       GF_USERS_ALLOW_SIGN_UP: ${GF_USERS_ALLOW_SIGN_UP}
     volumes:
       - grafana:/etc/grafana
       - grafana_lib:/var/lib/grafana
     deploy:
       labels:
         - "traefik.enable=true"

         - "traefik.http.services.grafana-https.loadbalancer.server.port=3000"
         - "traefik.http.routers.grafana-https.entrypoints=https"
         - "traefik.http.middlewares.do-compress.compress=true"
         - "traefik.http.middlewares.set-ratelimit.ratelimit.average=2"
         - "traefik.http.routers.grafana-https.middlewares=do-compress"
         - "traefik.http.routers.grafana-https.rule=Host(`grafana.access.devilsan.com`)"

         - "traefik.http.routers.grafana-https.tls=true"
         - "traefik.http.routers.grafana-https.tls.certresolver=linode"

         - "traefik.docker.network=traefik_proxy"
       replicas: 1
       update_config:
         parallelism: 2
         delay: 10s
       restart_policy:
         condition: on-failure
       placement:
         constraints:
           - "node.hostname==rockpix"

  loki:
    image: grafana/loki:2.4.0
    volumes:
      - loki:/etc/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yml
    networks:
      - traefik_proxy
    deploy:
       labels:
         - "traefik.enable=true"
         - "traefik.http.routers.loki-http.rule=Host(`loki.home.local`)"
         - "traefik.http.routers.loki-http.entrypoints=http"
         - "traefik.http.services.loki-https.loadbalancer.server.port=3100"
         - "traefik.http.routers.loki-https.entrypoints=https"
 
         - "traefik.http.routers.loki-https.rule=Host(`loki.access.devilsan.com`)"
         - "traefik.http.routers.loki-https.tls=true"
         - "traefik.http.routers.loki-https.tls.certresolver=linode"
         - "traefik.docker.network=traefik_proxy"
       replicas: 1
       update_config:
         parallelism: 2
         delay: 10s
       restart_policy:
         condition: on-failure
       placement:
         constraints:
           - "node.hostname==rockpix"

  promtail:
    image: grafana/promtail:2.4.0
    volumes:
      - /var/log:/var/log
      - promtail:/etc/promtail
    ports:
      - "1514:1514" # this is only needed if you are going to send syslogs
    restart: unless-stopped
    command: -config.file=/etc/promtail/promtail-config.yml
    networks:
      - traefik_proxy
    deploy:
       labels:
         - "traefik.enable=true"
         - "traefik.http.routers.promtail-http.rule=Host(`promtail.home.local`)"
         - "traefik.http.routers.promtail-http.entrypoints=http"
         - "traefik.http.services.promtail-https.loadbalancer.server.port=9080"
         - "traefik.http.routers.promtail-https.entrypoints=https"
         - "traefik.http.routers.promtail-https.rule=Host(`promtail.access.devilsan.com`)"

         - "traefik.http.routers.promtail-https.tls=true"
         - "traefik.http.routers.promtail-https.tls.certresolver=linode"
         - "traefik.docker.network=traefik_proxy"
       replicas: 1
       update_config:
         parallelism: 2
         delay: 10s
       restart_policy:
         condition: on-failure
       placement:
         constraints:
           - "node.hostname==rockpro64"

  prometheus:
    image: prom/prometheus
    networks:
      - traefik_proxy
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=${PROMETHEUS_RETENTION:-24h}'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    volumes:
      - prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    deploy:
      labels:
       - "traefik.http.routers.prometheus.rule=Host(`prometheus.home.local`)"
       - "traefik.http.routers.prometheus.service=prometheus"
       - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
       - "traefik.docker.network=inbound"
      mode: replicated
      replicas: 1
      placement:
        constraints:
           - "node.hostname==rockpro64" 
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 128M

  node-exporter:
    image: bankainojutsu/node-exporter-multiarch
    networks:
      - traefik_proxy
    environment:
      - NODE_ID={{.Node.ID}}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /etc/hostname:/etc/nodename
    command:
      - '--path.sysfs=/host/sys'
      - '--path.procfs=/host/proc'
      - '--collector.textfile.directory=/etc/node-exporter/'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
      - '--no-collector.ipvs'
    deploy:
      mode: global
      placement:
        constraints:
           - "node.hostname!=raspberrypi"
           - "node.hostname!=oracle-1"
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M

  cadvisor:
    image: bankainojutsu/cadvisor-multiarch:latest
    networks:
      - traefik_proxy
    command: -logtostderr -docker_only
    hostname: '{{.Node.Hostname}}'
    ports:
      - 8085:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/rootfs:ro
      - /var/run:/var/run
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    deploy:
      mode: global
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M
      placement:
         constraints:
           - "node.hostname!=raspberrypi"
           - "node.hostname!=oracle-1"


volumes:
  grafana:
    driver: local
    driver_opts:
        type: nfs4
        o: addr=192.168.1.40,rw
        device: ":/media/storage/grafana"
  grafana_lib:
    driver: local
    driver_opts:
        type: nfs4
        o: addr=192.168.1.40,rw
        device: ":/media/storage/var/lib/grafana"
  prometheus:
    driver: local
    driver_opts:
        type: nfs4
        o: addr=192.168.1.40,rw
        device: ":/media/storage/etc/prometheus"
  prometheus_data:
    driver: local
    driver_opts:
        type: nfs4
        o: addr=192.168.1.40,rw
        device: ":/media/storage/var/lib/prometheus"
  loki:
    driver: local
    driver_opts:
        type: nfs4
        o: addr=192.168.1.40,rw
        device: ":/media/storage/etc/loki"
  promtail:
    driver: local
    driver_opts:
        type: nfs4
        o: addr=192.168.1.40,rw
        device: ":/media/storage/etc/promtail"  


networks:
  traefik_proxy:
    external: true
